/* universals */

body {
  background-color: black;
  font-family: Verdana sans-serif;
  text-align: center;
}

h1,
h2 {
  color: white;
}

a {
  color: aquamarine;
  font-size: 16px;
}

main p,
footer p {
  color: gray;
  font-size: 21px;
}

/* header */
h1 {
  font-size: 50px;
  font-weight: normal;
}

/* main */
h2 {
  font-weight: 300;
  font-size: 42px;
}

/* footer */
footer {
  color: gray;
  text-align: right;
}
